.online {
    width: 60px;
    background-color: green;
    display: flex;
    margin: auto;
  }
  .offline {
    width: 60px;
    background-color: red;
    display: flex;
    margin: auto;
  }
  .item {
    border-radius: 5px;
    width: 320px;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    border: 1.5px solid #ccc;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .friendList {
    gap: 5px;
    width: 320px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
  }

  .avatar{
    display: flex;
    margin: auto;
  }